form {
    .card > div {
        margin: 0 0 20px;
    }
    span {
        font-size: 12px;
    }
}

input, select, textarea {
    display: block;
    padding: 10px;
    width: 100%;
}

.inline-form {
    input, select {
        display: inline;
        width: auto;
    } 
}

textarea {
    height: 300px;
}

button {
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    background: $highlight;
    color: #fff;
}

.inline-form button {
    background: none;
    color: $highlight;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}

.form-actions {
    margin-top: 20px;
}

.search-response {
    margin: 10px 0;
}

.character-search {
    display: flex;
    button {
        white-space: nowrap;
        margin-left: 10px;
    }
}
