input, select, textarea {
    display: block;
    padding: 10px;
    width: 100%;
}

.inline-form input {
    display: inline;
    width: auto;
}

textarea {
    height: 300px;
}

button {
    border: 0;
    border-radius: 20px;
    padding: 10px 20px;
    background: $highlight;
    color: #fff;
}

.inline-form button {
    background: none;
    color: $highlight;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}

.form-actions {
    margin-top: 20px;
}