html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
}

.navigation {
    width: 12.8571429%;
}

.content {
    width: 87.1428571%;
}

.header {
    height: 160px;
    margin: 0 0 20px;
    position: relative;
}

.title {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.block {
    margin: 0 0 20px;
}

.card {
    overflow: hidden;
    padding-top: 20px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    box-shadow: 0 2px 4px #bbb;
    .avatar {
        float: left;
        margin: -20px 10px 0 0;
        width: 100px;
        height: 100px;
    }
    .primary {
        font-size: 20px;
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .chart-heading {
        margin: 0 20px 20px;
    }
    canvas {
        margin: 20px auto;
        width: 90%;
    }
}

.card-small {
    padding-top: 0;
    line-height: 40px;
    .avatar {
        width: 40px;
        height: 40px;
        margin-top: 0;
    }
    .primary {
        font-size: 14px;
        float: left;
    }
    .latest-payment {
        margin-left: 5px;
    }
    .amount {
        float: right;
        padding-right: 10px;
    }
}

a.card:hover {
    position: relative;
    top: 1px;
    box-shadow: 0 0 4px #bbb;
}

.highlight {
    padding-top: 40px;
    padding-bottom: 36px;
}

.information {
    padding: 20px;
}

.character-card {
    display: none;
    height: 100px;
    padding-top: 20px;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0 2px 4px #bbb;
    img {
        height: 100px;
        width: 100px;
        float: left;
        margin: -20px 10px 0 0;
    }
    .character-name {
        font-size: 20px;
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.report-navigation {
    margin: 20px 0;
    text-align: center;
    a {
        text-decoration: none;
        color: #333;
        &:hover {
            color: $highlight;
        }
    }
}